@model System.Collections.Generic.List<OnlainStore.Models.ViewModel.Pages.OrdersForUserVM>

@{
    ViewBag.Title = "Orders";
    Layout = "_Layout";
}

<h2>Orders</h2>

@if (!Model.Any())
{
    <h2 class="text-center">You have no orders</h2>
}
else
{
    <table class="table">
        <tr>
            <th>
                Order Number
            </th>
            <th>
                Order Details
            </th>
            <th>
                Created Add
            </th>
            <th>
                Total
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.OrderNumber)
                </td>
                <td>
                    @foreach (var item2 in item.ProductsAndQuty)
                    {
                        @item2.Key @:x @item2.Value <br/>
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => item.CreatedAdd)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Total)$
                </td>
            </tr>
        }
    </table>
}
